<mat-card>
  <mat-card-header>
    <mat-card-title>
      <mat-button-toggle-group  [(ngModel)]="action">
        <mat-button-toggle value="comment"  ngDefaultControl>comment</mat-button-toggle>
        <mat-button-toggle value="story"  ngDefaultControl>story</mat-button-toggle>
      </mat-button-toggle-group>

   </mat-card-title>
  </mat-card-header>

  <mat-card-content>
  <div [ngSwitch]="action">

     <div *ngSwitchCase="'comment'" fxFlex fxFlexOffset="120px" class="form-size">

        <form novalidate [formGroup]="feedbackForm" #cform="ngForm" (ngSubmit)="onSubmit()">
          <p>
            <mat-form-field class="half-width" dividerColor="{{(formErrors.name) ? 'warn' : 'primary'}}" required>
              <input matInput formControlName="name" placeholder="Your Name" type="text">
              <mat-hint>
                <span [hidden]="!(formErrors.name)">
                          {{formErrors.name}}</span>
              </mat-hint>
            </mat-form-field>
            <mat-form-field class="half-width" dividerColor="{{(formErrors.email) ? 'warn' : 'primary'}}">
              <input matInput formControlName="email" placeholder="Your Email" type="email">
              <mat-hint>
                <span [hidden]="!(formErrors.email)">
                          {{formErrors.email}}</span>
              </mat-hint>
            </mat-form-field>
            <mat-form-field class="full-width" dividerColor="{{(formErrors.email) ? 'warn' : 'primary'}}" required>
                <textarea matInput formControlName="message" placeholder="Your Feedback" rows=6></textarea>
                <mat-hint color="warn">
                  <span [hidden]="!(formErrors.message)">
                            {{formErrors.message}}</span>
                </mat-hint>
              </mat-form-field>
          </p>
          <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="feedbackForm.invalid">Submit</button>
        </form>
      </div>

    <div *ngSwitchCase="'story'">
      <div fxFlex fxFlexOffset="120px" class="form-size">
        <form novalidate [formGroup]="storyForm" #sform="ngForm" (ngSubmit)="onSubmit()">
          <p>
            <mat-form-field class="half-width" dividerColor="{{(formErrors.name) ? 'warn' : 'primary'}}" required>
              <input matInput formControlName="name" placeholder="Your Name" type="text">
              <mat-hint>
                <span [hidden]="!(formErrors.name)">
                          {{formErrors.name}}</span>
              </mat-hint>
            </mat-form-field>
            <mat-form-field class="full-width" dividerColor="{{(formErrors.email) ? 'warn' : 'primary'}}" required>
                <textarea matInput formControlName="message" placeholder="Your Story" rows=6></textarea>
                <mat-hint color="warn">
                  <span [hidden]="!(formErrors.message)">
                            {{formErrors.message}}</span>
                </mat-hint>
              </mat-form-field>
          </p>
          <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="feedbackForm.invalid">Submit</button>
        </form>
      </div>
    </div>
  </div>


  </mat-card-content>

</mat-card>
